* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

h2{
  margin-bottom: 20px;
}

.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

label {
  display: block;
}

input {
  width: 95%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #45a049;
}

.card {
  width: 300px;
  margin: 30px auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-body h2 {
  margin: 0;
  font-size: 22px;
}

.card-body p {
  margin: 6px 0;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.socials a {
  margin: 0 10px;
}

.socials img {
  width: 30px;
  height: 30px;
}

.buttons .btn {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.subscribe {
  background-color: #f44336;
  color: white;
}

.message {
  background-color: #2196F3;
  color: white;
}

.download {
  background-color: #4CAF50;
  color: white;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  font-size: 14px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 4px;
}